@import "tailwindcss";

/* OPTIONAL: Your custom colors */
:root {
  --green: #16a34a;
}

html, body, #root {
  height: 100%;
  margin: 0;
  font-family: Inter, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Arial;
}
